* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace
}

body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

header {
  background-image: linear-gradient(to right, #9ccfff , #4c72db);
  /*
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #e3e3e3;
  background-color: #dffed1; 
  */
  color: #2e2e2e;
  height: 110px;
  padding: 30px 0;
}

a {
  text-decoration: none;
  color: #2e2e2e;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.menu {
  display: flex;
  width: 900px;
}

.links {
  display: flex;
  margin-left: 150px;
  margin-top: 43px;
  font-family: 'Arial';

}
.headertext {
  margin-right: 50px;
}

.hobbies {
  display: flex;
  flex-wrap: wrap;
  color: #2e2e2e;
  background-color: #e9e9e9;
  justify-content: center;
}

.hobby {
  display: flex;
  flex-direction: row;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 30px;
}

.hobby-text {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 600px;
  text-align: justify;
}

.experience {
  margin-right: 50px;
}

.footer {
  height: 100px;
  background-image: linear-gradient(to right, #9ccfff , #4c72db);
  background-color: #dffed1;
}

#indexLink {
  font-size: 55px;
  margin-left: 50px; 
}

h2 {
  font-size: 50px;
  margin-bottom: 15px;
}

.page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  background-color: #e9e9e9;
  padding-bottom: 50px;

}

.homePage {
  background-image: url('images/homepage.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1200px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  background-color: #e9e9e9;
  padding-bottom: 50px;
}


img {
  border-radius: 8px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}

.hobbies img {
  height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 350px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  font-family: Arial;
  color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#incrementButton {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: darkred;
}

#incrementButton:hover {
  cursor: pointer;
}

#buttonZone
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e9e9e9;
  height: 750px;
}
